<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <link rel="stylesheet" th:href="@{/css/formErrors.css}">
    <link rel="stylesheet" th:href="@{/css/usersindex.css}">

</head>

<body>
<div class="headerNav" th:replace="fragments :: headerNav">

</div>
<main>
    <h1>Users</h1>

    <table>
        <tr>
            <th class="name">Name</th>
            <th class="phone">Phone</th>
            <th class="email">Email</th>
            <th class="accessLevel">Access Level</th>
        </tr>
        <tr th:each="user : ${users}">
            <td class="nameTd"><a th:href="@{/users/view/{id}(id=${user.id})}"
                   th:text="${user.userProfile.firstName} + ' ' + ${user.userProfile.lastName}"></a></td>
            <td class="phoneTd" th:text="${user.userProfile.phoneNumber}"></td>
            <td class="emailTd" th:text="${user.userProfile.email}"></td>
            <td class="accessLevelTd" th:text="${user.accessLevel.displayName}"></td>
        </tr>
    </table>
    <!--<p th:errors="${userAccess}"></p>-->
</main>
</body>
</html>