.unassignedTable,.openTable,.closedTable{
    margin-bottom: 3em;
}

main{
    margin: 0 20%;
}

table, td, th {
    border: 1px solid gray;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    height: 2em;
}

h2 {
    text-align: center;
    padding-bottom: .2em;
}

.title{
    width: 30%;
}

.date{
    width: 17%;
}

.severity, .status{
    width: 13%;
}
.user{
    width: 27%;
}
.titleTd{
    padding-left: .5em;
}

.dateTd, .severityTd, .statusTd, .userTd {
    text-align: center;
}

