<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:fragment="head">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/navBar.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <title></title>
    </th:fragment>
</head>

<body>
<div class="headerNav" th:fragment="headerNav">
    <header>
        <p>CSquared</p>
    </header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/ticket}">Tickets</a></li>
            <li><a th:href="@{/users}">Users</a></li>
            <li class="logInLogOut"><a th:href="@{/logout}">LogOut</a></li>
        </ul>
    </nav>
</div>

<tr th:fragment="trHeaders">
    <th>Ticket Number</th>
    <th>Date</th>
    <th>Severity</th>
    <th>Title</th>
    <th>User</th>
    <th>Status</th>
</tr>
<tr th:fragment="trTicket">
    <td th:text="${ticket.id}"></td>
    <td th:text="${ticket.dateCreatedString}"></td>
    <td th:text="${ticket.severity.displayName}"></td>
    <td><a th:href="@{/ticket/view/{id}(id=${ticket.id})}" th:text="${ticket.title}"></a></td>
    <td th:text="${ticket.userCreated.userProfile.firstName}"></td>
    <td th:text="${ticket.statusLevel.displayName}"></td>
</tr>

</body>
</html>