<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:fragment="head">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/css/navBar.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <title></title>
    </div>
</head>

<body>
<div class="headerNav" th:fragment="headerNav">
    <header>
        <p>Help Desk</p>
    </header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/ticket}">Tickets</a></li>
            <li><a th:href="@{/users}">Users</a></li>
            <li class="logInLogOut"><a th:href="@{/logout}">LogOut</a></li>
        </ul>
    </nav>
</div>

<tr th:fragment="trHeaders">
    <th class="title">Title</th>
    <th class="date">Date</th>
    <th class="severity">Severity</th>
    <th class="status">Status</th>
    <th class="user">User</th>
</tr>
<tr th:fragment="trTicket">
    <td class="titleTd"><a th:href="@{/ticket/view/{id}(id=${ticket.id})}" th:text="${ticket.title}"></a></td>
    <td class="dateTd" th:text="${ticket.dateCreatedString}"></td>
    <td class="severityTd" th:text="${ticket.severity.displayName}"></td>
    <td class="statusTd" th:text="${ticket.statusLevel.displayName}"></td>
    <td class="userTd" th:text="${ticket.userCreated.userProfile.firstName} + ' ' + ${ticket.userCreated.userProfile.lastName}"></td>
</tr>

</body>
</html>