<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
</head>

<body>
<div class="headerNav" th:replace="fragments :: headerNav">

</div>
<main>
    <h1>Welcome!!</h1>
    <form method="post">
        <label>Username
            <input th:field="${loginFormDTO.username}" />
        </label>
        <p th:errors="${loginFormDTO.username}"></p>
        <label>Password
            <input type="password" th:field="${loginFormDTO.password}" />
        </label>
        <p th:errors="${loginFormDTO.password}"></p>
        <input type="submit" value="Login">
    </form>


    <p><a href="user/create.html">Register New User</a></p>
    <p>
        Welcome to the help desk. Please log in. Once logged in, you will be able to create, view, and close tickets. Please use this application to log any issues you may have with your technology.
    </p>
    <p>
        Thank you!
    </p>
</main>
</body>
</html>