<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
</head>

<body>
<div class="headerNav" th:replace="fragments :: headerNav">

</div>
<main>
    <h1>Welcome!!</h1>
    <ul>
        <li><a href="user/logIn.html">Log In</a></li>


        <li><a href="user/create.html">Register New User</a></li>
    </ul>
    <p>
        Welcome to the help desk. Please log in. Once logged in, you will be able to create, view, and close tickets. Please use this application to log any issues you may have with your technology.
    </p>
    <p>
        Thank you!
    </p>
</main>
</body>
</html>