<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <link rel="stylesheet" th:href="@{/css/formErrors.css}">
</head>

<body>
<div class="headerNav" th:replace="fragments :: headerNav">

</div>
<main>
    <h1>Welcome!!</h1>

    <ul>
        <li><a href="ticket/">View Tickets</a></li>
        <li><a href="ticket/create">Create Ticket</a></li>
        <li><a href="user/">User Profile</a></li>
    </ul>
</main>
</body>
</html>