<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="headerNav" th:replace="fragments :: headerNav"></div>
<main>
    <form method="post">
        <label>Title<input type="text" th:field="${ticket.title}"></label>
        <label>Description<input type="text" th:field="${ticket.description}"></label>
        <input type="submit">

    </form>

</main>
</body>
</html>