<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <link rel="stylesheet" th:href="@{/css/ticketindex.css}">
</head>
<body>
<div class="headerNav" th:replace="fragments :: headerNav"></div>
<main>
    <div class="unassignedTable" th:unless='${user.accessLevel.displayName.equals("User")}'>
        <h2>Unassigned Tickets</h2>
        <table>
            <tr th:replace="fragments :: trHeaders"></tr>
            <th:block th:each="ticket: ${unassignedTickets}">
                <tr th:replace="fragments :: trTicket"></tr>
            </th:block>
        </table>
    </div>

    <div class="openTable">
        <h2>
            <span th:if='${user.accessLevel.displayName.equals("Administrator")}'>All Open Tickets</span>
            <span th:unless='${user.accessLevel.displayName.equals("Administrator")}'>My Open Tickets</span>
        </h2>
        <table>
            <tr th:replace="fragments :: trHeaders">
            </tr>
            <th:block th:each="ticket : ${tickets}">
                <tr th:replace="fragments :: trTicket">
                </tr>
            </th:block>
        </table>
    </div>

    <div class="closedTable">
        <h2>Closed Tickets</h2>
        <table>
            <tr th:replace="fragments :: trHeaders">
            </tr>
            <th:block th:each="ticket : ${closedTickets}">
                <tr th:replace="fragments :: trTicket">
                </tr>
            </th:block>
        </table>
    </div>


</main>
</body>
</html>