<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="headerNav" th:replace="fragments :: headerNav"></div>
<main>
    <table>
        <th:block th:each="ticket : ${tickets}">
            <tr>
                <!--<td th:text="${ticket.date.format(standardDate, 'dd-MM-yyyy HH:mm')}"></td>-->
                <td th:text="${ticket.title}"></td>
                <td th:text="${ticket.user.userProfile.name}"></td>
                <td th:text="${ticket.description}"></td>
            </tr>
        </th:block>

    </table>

</main>
</body>
</html>