<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <link rel="stylesheet" th:href="@{/css/ticketview.css}">

</head>
<body>
<div class="headerNav" th:replace="fragments :: headerNav"></div>
<main>
    <h1 th:text="${ticket.title}"></h1>
    <p>Ticket Number: <span th:text="${ticket.id}"></span></p>
    <p>Date Created: <span th:text="${ticket.dateCreatedString}"></span></p>
    <p>Title: <span th:text="${ticket.title}"></span></p>

    <p>Creator: <span th:text="${ticket.userCreated.userProfile.firstName} + ' ' + ${ticket.userCreated.userProfile.lastName}"></span></p>
    <p>Status: <span th:text="${ticket.statusLevel.displayName}"></span></p>
    <p>Assigned Technician:
        <span th:if='${ticket.statusLevel.displayName.equals("Active") ||
                     ticket.statusLevel.displayName.equals("Closed")}'
              th:text="${ticket.techAssigned.userProfile.firstName} + ' ' +${ticket.techAssigned.userProfile.lastName}">
        </span>
        <span th:if='${ticket.statusLevel.displayName.equals("Unassigned")}'>User Not Assigned</span></p>
    <p>Description:</p>
        <p class="description" th:text="${ticket.description}"></p>

    <form th:unless='${ticket.statusLevel.displayName.equals("Closed")}' class="noPaddingLeft" method="post">
        <input type="hidden" name="isClosed" value="true">
        <input class="submit" type="submit" value="Close Ticket">
    </form>

    <div th:if='${user.AccessLevel == tech &&
                ticket.statusLevel.displayName.equals("Unassigned")}'>
        <form class="noPaddingLeft" method="post">
            <input type="hidden" name="userId" th:value="${user.id}">
            <input class="submit" type="submit" value="Assign Myself to Ticket">
        </form>
    </div>


    <div th:if='${user.AccessLevel == admin &&
                ticket.statusLevel.displayName.equals("Unassigned")}'>
        <button class="submit" onclick="clickAssignTechForm()">Assign Technician</button>
        <form  id="assignTechForm" th:action="@{/ticket/view/{id}(id=${ticket.id})}" method="post">
            <Label>
                <select name="userId">
                    <th:block th:each="techUser : ${techUsers}">
                        <option th:value="${techUser.id}" th:text="${techUser.userProfile.firstName} +' '+ ${techUser.userProfile.lastName}"></option>
                    </th:block>
                </select>
            </Label>
            <input class="submit" type="submit" value="Assign This Tech">
        </form>
    </div>

</main>
<script th:src="@{/js/techview.js}"></script>
</body>
</html>